{% extends 'AspirinaBundle::layout.html.twig' %}

{% block content -%}
<h1>Subject list</h1>
<ul class="nav nav-tabs">
    <li class="active">
        <a href="site.html" data-ajax-load-html="#content-master">List</a>
    </li>
    <a class="btn btn-primary pull-right" href="{{ path('subject_new') }}"><i class="icon-file"></i>Create a new entry</a>

</ul>

<div id="content-tabs">
    <table class="records_list table table-striped">
        <thead>
            <tr>
                <th>Initial</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.initial }}</td>
                    <td>
                        <div class="btn-group">
                            <a href="{{ path('subject_show', { 'id': entity.id }) }}" class="btn"><i class="icon-book"></i></a>
                            <a href="{{ path('subject_edit', { 'id': entity.id }) }}" class="btn"><i class="icon-pencil"></i></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}
